.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    background: linear-gradient(to right, var(--colour) 100%, transparent 0) left;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    background-repeat: no-repeat;
}

.social-button:hover {
    background-size: 100% 100%;
}

.social-button svg {
    fill: white;
    color: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
}