:root {
  --colour: #b74dbb;
  --background-colour: #1b003a;
}

body {
  color: #ffffff;
  background-color: var(--background-colour);
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h2 > span {
  color: var(--colour);
}

h3 {
  font-size: 2rem;
  margin: 0;
}

p {
  width: 40rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.container:first-child, .home-container {
  margin-top: 2rem;
  margin-bottom: 12rem;
}

.left {
  margin-left: 10rem;
}

.right {
  margin-left: auto;
  margin-right: 10rem;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.hire-button {
  cursor: pointer;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border-style: solid;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5rem;
}

.background-img {
  width: 40rem;
  height: 51rem;
  object-fit: cover;
  object-position: top;
}

.exception {
  text-align: center;
}

/* .section-container {
  padding-bottom: 10rem;
} */

/* .section-container > div > div > img {
  height: 25rem;
} */

.download-cv-button {
  cursor: pointer;
  background: linear-gradient(to right, var(--colour) 100%, transparent 0) left;
  background-size: 0% 100%;
  border-style: solid;
  border-radius: 5rem;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-size 0.5s;
  background-repeat: no-repeat;
}

.download-cv-button:hover {
  background-size: 100% 100%;
}

.language-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.language-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--background-colour);
}

.language {
  font-size: 2rem;
}

.percentage {
  font-size: 4rem;
}

.experience-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.years {
  font-size: 5rem;
}

.experience-box > span:not(.years) {
  font-size: 1.1rem;
  width: 4rem;
}

.service-boxes {
  margin-top: 1rem;
  margin-left: 22rem;
  display: grid;
  width: 75rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: var(--background-colour);
}

.home-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experience-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}