:root {
  --colour: #b74dbb;
  /* --colour: #f700ff; */
  --background-colour: #1b003a;
}

body {
  color: #ffffff;
  background-color: var(--background-colour);
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h2 > span {
  color: var(--colour);
}

h3 {
  font-size: 2rem;
  margin: 0;
}

p {
  width: 40rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.container:first-child, .home-container {
  margin-top: 2rem;
  margin-bottom: 12rem;
}

.left {
  margin-left: 10rem;
}


.right {
  margin-left: auto;
  margin-right: 10rem;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.background-img {
  width: 40rem;
  height: 51rem;
  object-fit: cover;
  object-position: top;
}

.section-header {
  text-align: center;
}

/* .section-container {
  min-height: 58rem;
} */

/* .section-container > div > div > img {
  height: 25rem;
} */

.home-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experience-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}