.container2 > div {
    display: flex;
    flex-direction: column;
}

.container2 > div > div {
    display: flex;
    flex-direction: row;
}

.container2 > div > div > svg {
    width: 1rem;
    margin-right: .5rem;
}

.input {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: #333333;
    color: #808080;
    padding: .75rem;
    padding-right: 30rem;
}

.input2 {
    padding-bottom: 20rem;
    margin-bottom: 1rem;
}

.submit-button {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    cursor: pointer;
    padding: 1rem;
    border-style: solid;
    border-radius: 3rem;
    background: linear-gradient(to right, var(--colour) 100%, transparent 0) left;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 500ms linear;
    color: #ffffff;
    font-size: 1.5rem;
}

.submit-button:hover {
  background-size: 100% 100%;
}