.contact-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-methods-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact-method-container {
  display: flex;
  flex-direction: row;
}

.contact-method-icon {
  width: 2rem;
  margin-right: 0.5rem;
}

.contact-method-text {
  font-size: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #333333;
  color: #808080;
  padding: 0.75rem;
  /* padding-right: 25rem; */
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-textarea {
  padding-bottom: 15rem;
  margin-bottom: 1rem;
  resize: none;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  cursor: pointer;
  padding: 1rem;
  border-style: solid;
  border-radius: 3rem;
  background: linear-gradient(to right, var(--colour) 100%, transparent 0) left;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s linear;
  color: #ffffff;
  font-size: 1.5rem;
}

.submit-button:hover {
  background-size: 100% 100%;
}
