.navigation {
    margin-left: auto;
    margin-right: 1rem;
    padding: 1rem;
}

.navigation ul {
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navigation a:hover , .navigation .current_page {
    color: #bb564d;
    text-decoration: underline;
    text-decoration-color: #bb564d;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.1rem;
}