.service-boxes {
  margin-bottom: 5rem;
  margin-top: 1rem;
  margin-left: 22rem;
  display: grid;
  width: 75rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  background-image: linear-gradient(to right, var(--colour) 100%, transparent 0);
  background-position: left;
  background-size: 0% 100%;
  transition: background-size 0.5s, transform 0.5s;
  background-repeat: no-repeat;
  min-height: 14rem;
}

.service-box:hover {
  background-size: 100% 100%;
  transform: translateY(-1rem);
}

.service-header {
  font-size: 1.5rem;
  font-weight: bold;
}