.skills-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--colour) 100%, transparent 0);
  background-position: left;
  background-size: 0% 100%;
  transition: background-size 0.5s;
  background-repeat: no-repeat;
}

.skill-box:hover {
  background-size: 100% 100%;
}

.stretch-box {
  grid-column: 1 / 3;
}

.service-icon {
  width: 5rem;
}

.skill-box-header {
  font-size: 1rem;
  /* margin: 3rem; */
}

.languages-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.language-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.language-icon {
  width: 1rem;
}

.language {
  font-size: 1rem;
}

.percentage {
  font-size: 4rem;
}

.experience-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.years {
  font-size: 5rem;
}

.experience-box > span:not(.years) {
  font-size: 1.1rem;
  width: 4rem;
}