footer {
    background-color: #4b006e;
    padding: 2rem;
    margin-top: 5rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

footer > p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}